<script>
  'use strict';
  $(document).ready(function() {

    var options = {
      series: [{{dataassu}}, {{datacom}},{{datacul}}, {{datafin}},{{dataorg}}, {{dataprod}}],
      chart: {
        height: 350,
        width: '100%',
      type: 'donut',
    },
    plotOptions: {
      pie: {
        startAngle: -90,
        endAngle: 270
      }
    },
    dataLabels: {
      enabled: false
    },
    fill: {
      type: 'gradient',
    },
    legend: {
      formatter: function(val, opts) {
        return val + " - " + opts.w.globals.series[opts.seriesIndex]
      }
    },

    responsive: [{
      breakpoint: 480,
      options: {
        chart: {
          height: 350,
          width: '100%',
        },
        legend: {
          position: 'bottom'
        }
      }
    }]
    };

    var chart = new ApexCharts(document.querySelector("#course"), options);
    chart.render();



      var options = {
          series: [{{dataassu}}, {{datacom}},{{datacul}}, {{datafin}},{{dataorg}}, {{dataprod}}],
          chart: {
            height: 350,
            width: '100%',
          type: 'pie',
        },
        labels: ['AgroAssurance', 'AgroCommercial', 'Agriculture', 'AgroFinance', 'Agroorganisation', 'Agroproduction'],
        responsive: [{
          breakpoint: 480,
          options: {
            chart: {
              height: 350,
              width: '100%',
            },
            legend: {
              position: 'bottom'
            }
          }
        }]
        };

        var chart = new ApexCharts(document.querySelector("#all_details"), options);
        chart.render();




      if ($('#stud_gender').length > 0) {
          var optionsBar = {
              chart: {
                  type: 'bar',
                  height: 350,
                  width: '100%',
                  stacked: true,
                  toolbar: {
                      show: false
                  },
              },
              dataLabels: {
                  enabled: false
              },
              plotOptions: {
                  bar: {
                      columnWidth: '45%',
                  }
              },
              series: [
              {
                  name: "AgroAssurance",
                  color: '#fdbb38',
                  data: [{{dataassu}}],
              },


              {
                  name: "AgroCommercial",
                  color: '#18affb',
                  data: [{{datacom}}],
              },
              
              {
                  name: "Agriculture",
                  color: '#59a11a',
                  data: [{{datacul}}],
              },
                {
                  name: "AgroFinance",
                  color: '#a1371a',
                  data: [{{datafin}}],
              },
              {
                  name: "Agroorganisation",
                  color: '#925A6C',
                  data: [{{dataorg}}],
              },
                {
                  name: "Agroproduction",
                  color: '#ACC048',
                  data: [{{dataprod}}],
              }
              ],
              labels: [2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020],
              xaxis: {
                  labels: {
                      show: false
                  },
                  axisBorder: {
                      show: false
                  },
                  axisTicks: {
                      show: false
                  },
              },
              yaxis: {
                  axisBorder: {
                      show: false
                  },
                  axisTicks: {
                      show: false
                  },
                  labels: {
                      style: {
                          colors: '#777'
                      }
                  }
              },
              title: {
                  text: '',
                  align: 'left',
                  style: {
                      fontSize: '18px'
                  }
              }

          }

          var chartBar = new ApexCharts(document.querySelector('#stud_gender'), optionsBar);
          chartBar.render();
          }


      var options = {
          series:  [{{peche}}, {{pfina}}, {{peino}}, {{pcom}}],
          chart: {
            height: 350,
            width: '100%',
          type: 'scatter',
        },
        plotOptions: {
          pie: {
            startAngle: -90,
            endAngle: 270
          }
        },
        dataLabels: {
          enabled: false
        },
        fill: {
          type: 'gradient',
        },
        legend: {
          formatter: function(val, opts) {
            return val + " - " + opts.w.globals.series[opts.seriesIndex]
          }
        },

        responsive: [{
          breakpoint: 480,
          options: {
            chart: {
              height: 350,
        width: '100%',
            },
            legend: {
              position: 'bottom'
            }
          }
        }]
        };

        var chart = new ApexCharts(document.querySelector("#all"), options);
        chart.render();




  
  // Area chart
	
	if ($('#apexcharts-area').length > 0) {
    var options = {
      chart: {
        height: 350,
        type: "area",
        toolbar: {
          show: false
        },
      },
      dataLabels: {
        enabled: false
      },
      stroke: {
        curve: "smooth"
      },
      series: [{
        name: "agroorganisation",
        data: [{{dataorg}},{{dataorg}},{{dataorg}},]
      }, {
      name: "Agriculture",
      data: [{{datacul}},{{datacul}},{{datacul}}]
    },{
        name: "AgroFinance",
        color: '#FFBC53',
        data: [{{datafin}}]
      },{
        name: "AgroAssurance",
        data: [{{dataassu}},{{dataassu}},{{dataassu}}]
      }, {
      name: "agroproduction",
      data: [{{dataprod}},{{dataprod}},{{dataprod}}]
    },{
        name: "AgroCommercial",
        color: '#FFBC53',
        data: [{{datacom}},{{datacom}},{{datacom}}]
      }],
      xaxis: {
       
          categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul'],
       
      }
    }
    var chart = new ApexCharts(
      document.querySelector("#apexcharts-area"),
      options
    );
    chart.render();
    }
  var xValues = ["Agriculture", "AgroFinance", "agroorganisation", "agroproduction", "AgroAssurance", "AgroCommercial"];
    var yValues = [{{datacul}}, {{datafin}},{{dataorg}}, {{dataprod}}, {{dataassu}}, {{datacom}}];
    var barColors = ["red", "green","blue","orange","brown","blue"];
    
    new Chart("myChart", {
      type: "bar",
      data: {
        labels: xValues,
        datasets: [{
          backgroundColor: barColors,
          data: yValues
        }]
      },
      options: {
        legend: {display: false},
        title: {
          display: true,
          text: "World Wine Production 2018"
        }
      }
    });
  });
  
  
    
</script>
