
{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
<div class="page-wrapper">
 <div class="row">
      <div class="col-md-12">
         <div class="card">
            <div class="card-header">
               <h5 class="form-title"><span>Agro Culture</span></h5>
            </div>
            {% include 'includes/messages.html' %}	
            <div class="card-body">
               <form method="POST" action="{% url 'das:dimagrocul' %}" enctype="multipart/form-data">
                  {% csrf_token %}
                 
                   {% csrf_token %}
              
                  {{ form.as_p }}
                     
                   
                  
                  <div class="text-right">
                     <div class="col-12">
                        <button type="submit" class="btn btn-primary">Ajouter</button>
                     </div>

               </form>
            </div>
         </div>
      </div>
      
<div >
 <div class="content container-fluid">
   <div class="page-header">
      <div class="row align-items-center">
         
        
      </div>
   </div>
   {% include 'includes/messages.html' %}
   <div class="row">
      <div class="col-sm-12">
         <div class="card card-table">
            <div class="card-body">
               <div class="table-responsive">
                  <table id="table_id" class="table table-hover table-center mb-0">
                     <thead>
                        <tr>
                            <th>ID</th>
                            <th>Code Commune</th>

                            <th>Nom Commune</th>
                            <th>ZonProd_Cult</th>

                            <th>Cultur_Pratique</th>

                            <th>Type_Semence </th>
                            <th>Type_Culture_Pratique </th>

                           
                              <th>VarieteCultive </th>
                           
                            <th>SourcApprovisIntran </th>
                             <th>SourcApprovisSemenc </th>
                             <th>SourcApprovisEngrProdPhyto </th>
                             <th>SourcApprovisMatAgro </th>

                            <th>TypeAcquisIntran </th>
                            <th>TypeAcquisMat </th>

                            <th>TypeFertilisUtil </th>

                            <th>TypePesticidUtil </th>
                            <th>ModAcquisParcel </th> 
                            <th>date_en </th>
                            <th>date de Modification </th>
                            <th class="text-right">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for stud in dataOb %}
                         <tr>
                     
                            <td>{{ stud.id }}</td>
                            <td>{{stud.codeCommune}}</td>

                            <td>{{stud.nomCommune}}</td>
                            <td>{{stud.ZonProd_Cult}}</td>

                            <td>{{stud.Cultur_Pratique}}</td>

                            <td>{{ stud.Type_Semence }}</td>
                            <td>{{ stud.Type_Culture_Pratique }}</td>
                                           
                          
                              <td>{{ stud.VarieteCultive }}</td>
                           
                            <td>{{ stud.SourcApprovisIntran }}</td>
                             <td>{{ stud.SourcApprovisSemenc }}</td>
                      
                             <td>{{ stud.SourcApprovisEngrProdPhyto }}</td>
                             <td>{{ stud.SourcApprovisMatAgro }}</td>

                            <td>{{ stud.TypeAcquisIntran }}</td>
                            <td>{{ stud.TypeAcquisMat }}</td>

                            <td>{{ stud.TypeFertilisUtil }}</td>
                          

                            <td>{{ stud.TypePesticidUtil }}</td>
                            <td>{{ stud.ModAcquisParcel }}</td> 
                            <td>{{ stud.date_en }}</td>
                            <td>{{ stud.date_modification }}</td>
                          
                            <td class="text-right">
                               <div class="actions">
                                  <a href="{% url 'das:update_agcl' stud.id %}" class="btn btn-sm bg-success-light mr-2">
                                  <i class="fas fa-pen"></i>
                                  </a>
                                  <a href="{% url 'das:delete_clt' stud.id %}" class="btn btn-sm bg-danger-light">
                                  <i class="fas fa-trash"></i></a>
                              </div>
                           </td>
                        </tr>
                        {% endfor %}
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>

   
</div>
 {% endblock %}	